.header {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 1px rgba(146, 146, 146, 0.486);
    padding: 10px;
}
.selector {
    cursor: pointer;
}
.selector :hover {
    transition: all 0.5s ease;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.486);
}