.imagebox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    height: 350px;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    
}
img{
    height: 300px;
    width: 300px;
}